/* Isso é um comentário em CSS */
   /* Cores personalizadas */
        :root {
            --text-black-blueoil: #004953;
            --bg-black-blueoil: #39bfd1;
        }

        body {
            background-color: rgb(80, 170, 223);
            background-attachment: fixed;
            background-image: url("img/35bdeb8d06e9aeec524f4f741031b826.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #wrap header .logotipo {
            height: 100px;
            width: auto;
        }

        #wrap header small {
            font-size: 73%;
        }

        header, footer{
            background-color: #0A2342 !important;
        }

        .logged img,
        .unlogged img {
            height: 2rem;
            width: 2rem;
        }

        @media screen and (min-width: 576px) {

            .logged img,
            .unlogged img {
                height: 4rem;
                width: 4rem;
            }
        }

        .logged .dropdown-toggle,
        .unlogged .dropdown-toggle {
            color: var(--text-black-blueoil);
            text-decoration: none;
        }

        .text-black-blueoil {
            color: var(--text-black-blueoil);
        }

        .bg-black-blueoil {
            background-color: var(--bg-black-blueoil);
        }

        .navbar-brand img {
            height: 2.5rem;
            width: auto;
        }

        .navbar-brand {
            opacity: 0;
            /* visibility: hidden; */
            display: none;
            transition: opacity .3s ease;
        }

        .navbar-brand.show {
            opacity: 1;
            /* visibility: visible; */
            display: block;
        }

        .nav-link{
            color: rgba(88, 186, 235) !important;
        }

        #wrap header .dropdown-menu {
            z-index: 10000;
        }