/* Isso é um comentário em CSS */
/* Cores personalizadas */
:root {
    --text-black-blueoil: #004953;
    --bg-black-blueoil: #39bfd1;
}

body {
    background-color: rgb(80, 170, 223);
    background-attachment: fixed;
    background-image: url("../img/4e8cdfc3726a39ba3546cc247d2ad42c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 900px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: -1;
}

.header {
    top: 0;
}


#fixedTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#wrap header .logotipo {
    height: 100px;
    width: auto;
}

#wrap header small {
    font-size: 73%;
}

header, footer {
    background-color: #0A2342 !important;
}

#inputPesquisa::placeholder {
    color: var(--bs-info);
    opacity: 1;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--bs-info);
    background-color: rgb(10, 35, 66);
    /* remove o fundo cinza padrão do hover, se quiser só mudar o texto */
}

.logged img,
.unlogged img {
    height: 2rem;
    width: 2rem;
}

/* Hover para os dropdowns do header (logado e deslogado) */

.unlogged .dropdown-item:hover,
.unlogged .dropdown-item:focus,
.logged .dropdown-item:hover,
.logged .dropdown-item:focus {
    color: var(--bs-info);
    background-color: rgb(10, 35, 66);
    /* remove o fundo cinza padrão do hover, se quiser só mudar o texto */
}



@media screen and (min-width: 576px) {

    .logged img,
    .unlogged img {
        height: 2rem;
        width: 2rem;
    }
}



.text-black-blueoil {
    color: var(--text-black-blueoil);
}

.bg-black-blueoil {
    background-color: var(--bg-black-blueoil);
}

.navbar {
    background-color: rgb(10, 35, 66) !important;
}


.navbar-brand img {
    height: 2.5rem;
    width: auto;
}

.navbar-brand {
    opacity: 0;
    /* visibility: hidden; */
    display: none;
    transition: opacity .3s ease;
}

.navbar-brand.show {
    opacity: 1;
    /* visibility: visible; */
    display: block;
}

.nav-link {
    color: rgba(88, 186, 235) !important;
}

#wrap header .dropdown-menu {
    z-index: 10000;
}

main {

    padding-top: 173px
}

#wrap footer a {
    font-size: 1.8rem;

}

.himg-fluid{
    transition: transform .3s ease, box-shadow .s ease;
}

.img-fluid:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.20);
}